<h2>Create New Article</h2>
<h3>My New Article</h3>

<form method="post" action="/articles">
<label for="">Title:</label><input name="title" type="text" placeholder="Title..." value=""/><br>
<label for="">Content:</label><input name="content" type="text" placeholder="Content..."  value=""/><br>
<input type="submit" value="Create Article"/><br>
</form>

<a href = "/articles"><h3>Return Home</h3></a>