<!DOCTYPE HTML>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Articles</title>
    </head>
    <body>
    <nav>
        <div><a href= "/articles"> All Articles </a></div>
        <div><a href= "/articles/new"> Create New Article </a></div>
    </nav>
        <%= yield %>
    </body>
</html>