<h1>Create/Add a new article.</h1>

<form method="post" action="/articles">
    <input name="title" type="text" placeholder="Title..." value=""/>
    <input name="content" type="text" placeholder="Content..." value=""/>
    <input type="submit" value="Create/Add article"/>
</form>